body {
  font-family: 'Noto Serif', serif;
}

h1, h2, h3, .site-title {
  font-family: 'Noto Sans', sans-serif;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
}
body, .article {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 690px;
  margin: auto;
}
.site-title {
  font-size: 2.2500em; /* 36px */
  line-height: 1.1111em; /* 40px */
  margin-top: 0.5556em;
  margin-bottom: 0.5556em;
}
.page-title {
  font-size: 1.7500em; /* 28px */
  line-height: 1.4286em; /* 40px */
  margin-top: 0.8571em;
  margin-bottom: 0.8571em;
}
h2, .h2 {
  font-size: 1.5000em; /* 24px */
  line-height: 1.6667em; /* 40px */
  margin-top: 0.8333em;
  margin-bottom: 0.8333em;
}
h3, .h3 {
  font-size: 1.3750em; /* 22px */
  line-height: 1.8182em; /* 40px */
  margin-top: 0.9091em;
  margin-bottom: 0.9091em;
  font-weight: normal;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}